@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
  /* background-color: #666; */
  background: url('../img/bg.jpg') fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #fff;
}

.screen {
  cursor: pointer;
  width: 50%;
  background-color: black !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controls {
  background: #333;
  width: 50%;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.controls .btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.controls .fa-play {
  color: green;
}

.controls .fa-stop {
  color: red;
}
.controls .fa-step-forward {
  color: white;
}

.controls .fa-step-backward {
  color: white;
}

.controls .fa-arrows-alt {
  color: white;
}

.controls .fa-pause {
  color: white;
}

.controls .timestamp {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}

.btn:focus {
  outline: 0;
}

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}
